{%extends "base.html"%}
{% block start%}
    <div class="container">
        <h3>Create a New Todo</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" name="title" id="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  class="form-control" name="description" id="description"></textarea>
            <button type="submit" class='btn btn-primary'>Create</button>
        </div>
    </form>
    
    <a href="{% url 'home' %}">return to Home</a>
</div>
{% endblock %}