{%extends "base.html"%}
{% block title %}Edit Todo - Todo App{% endblock %}
{% block content%}
    <h1>Edit Todo</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Title</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>{{ form.is_done }}</td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'home' %}">Back to Todo List</a>
{%endblock%}
