{% extends "base.html" %}
{%block start%}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Seacrh</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h1 class='text-center'>Todo List</h1>
    <hr>

    <div class="container">
        
  
    <table class="table" class="container">
        <thead>
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <body>
          
          {% for todo in todos %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ todo.title }}</td>
              <td>{{ todo.description }}</td>
              <td>
                  {% if not todo.is_done %}
                      <form action="{% url 'mark_todo_done' todo.id %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary">Mark as Done</button>
                      </form>
                  {% else %}
                  <span class="badge bg-success">Done</span>
                    
                  {% endif %}
              </td>
              <td>
                  <a href="{% url 'edit_todo' todo.id %}" class="btn btn-warning">Edit</a>
                  <form action="{% url 'delete_todo' todo.id %}" method="POST" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
              </td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
     <a href="{% url 'create' %}" class='btn btn-secondary'>Create New Todo</a>
     ||
     <a href="{% url 'logout' %}" class='btn btn-secondary'>logout</a>
    </div>
{%endblock%}
